/**
 * Theme Name: VINUM
 * Version: 1.0.0
 * Author: EIGSE
 * Author URI: http://www.vinum.com
 * Description: Custom theme for VINUM
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags: blue, white, grey
 * Text Domain: vinum
 */

/* 
 1. Fonts
 2. Variables
 3. General Resets
 4. Bootstrap Resets
 5. Header
 6. Content
 7. Footer
*/

/* Fonts */

@font-face {
    font-family: 'trajanbold';
    src: url('assets/fonts/trajan_bold-webfont.eot');
    src: url('assets/fonts/trajan_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/trajan_bold-webfont.woff2') format('woff2'),
         url('assets/fonts/trajan_bold-webfont.woff') format('woff'),
         url('assets/fonts/trajan_bold-webfont.ttf') format('truetype'),
         url('assets/fonts/trajan_bold-webfont.svg#trajanbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'TrajanPro-Regular';
  src: 	url('assets/fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),  
  		url('assets/fonts/TrajanPro-Regular.woff') format('woff'), 
  		url('assets/fonts/TrajanPro-Regular.ttf')  format('truetype'), 
  		url('assets/fonts/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro-Bold';
  src: 	url('assets/fonts/MinionPro-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('assets/fonts/MinionPro-Bold.otf')  format('opentype'),
	    url('assets/fonts/MinionPro-Bold.woff') format('woff'), 
	    url('assets/fonts/MinionPro-Bold.ttf')  format('truetype'), 
	    url('assets/fonts/MinionPro-Bold.svg#MinionPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro-Regular';
  src:  url('assets/fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),  
  		url('assets/fonts/MinionPro-Regular.otf')  format('opentype'),
	    url('assets/fonts/MinionPro-Regular.woff') format('woff'), 
	    url('assets/fonts/MinionPro-Regular.ttf')  format('truetype'), 
	    url('assets/fonts/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro-Semibold';
  src:  url('assets/fonts/MinionPro-Semibold.eot?#iefix') format('embedded-opentype'),  
  	    url('assets/fonts/MinionPro-Semibold.otf')  format('opentype'),
	    url('assets/fonts/MinionPro-Semibold.woff') format('woff'), 
	    url('assets/fonts/MinionPro-Semibold.ttf')  format('truetype'), 
	    url('assets/fonts/MinionPro-Semibold.svg#MinionPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro-SemiboldIt';
  src:  url('assets/fonts/MinionPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),  
        url('assets/fonts/MinionPro-SemiboldIt.otf')  format('opentype'),
	    url('assets/fonts/MinionPro-SemiboldIt.woff') format('woff'), 
	    url('assets/fonts/MinionPro-SemiboldIt.ttf')  format('truetype'), 
	    url('assets/fonts/MinionPro-SemiboldIt.svg#MinionPro-SemiboldIt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Times-Bold';
  src:  url('assets/fonts/Times-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('assets/fonts/Times-Bold.woff') format('woff'), 
  		url('assets/fonts/Times-Bold.ttf')  format('truetype'), 
  		url('assets/fonts/Times-Bold.svg#Times-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Time-Roman';
  src:  url('assets/fonts/Time-Roman.eot?#iefix') format('embedded-opentype'),  
  		url('assets/fonts/Time-Roman.woff') format('woff'), 
  		url('assets/fonts/Time-Roman.ttf')  format('truetype'), 
  		url('assets/fonts/Time-Roman.svg#Time-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'timesbold_italic';
    src: url('assets/fonts/times_bold_italic-webfont.eot');
    src: url('assets/fonts/times_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/times_bold_italic-webfont.woff2') format('woff2'),
         url('assets/fonts/times_bold_italic-webfont.woff') format('woff'),
         url('assets/fonts/times_bold_italic-webfont.ttf') format('truetype'),
         url('assets/fonts/times_bold_italic-webfont.svg#timesbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'timesitalic';
    src: url('assets/fonts/times_italic-webfont.eot');
    src: url('assets/fonts/times_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/times_italic-webfont.woff2') format('woff2'),
         url('assets/fonts/times_italic-webfont.woff') format('woff'),
         url('assets/fonts/times_italic-webfont.ttf') format('truetype'),
         url('assets/fonts/times_italic-webfont.svg#timesitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* End Fonts */
/* Variables */
$trajanbold: 'trajanbold', Arial, sans-serif;
$trajanPro-Regular: 'TrajanPro-Regular', Arial, sans-serif;
$MinionPro-Bold: 'MinionPro-Bold', Arial, sans-serif;
$MinionPro-Regular: 'MinionPro-Regular', Arial, sans-serif;
$MinionPro-Semibold: 'MinionPro-Semibold', Arial, sans-serif;
$MinionPro-Bold: 'MinionPro-Bold', Arial, sans-serif;
$MinionPro-SemiboldIt: 'MinionPro-SemiboldIt', Arial, sans-serif;
$Times-Bold: 'Times-Bold', Arial, sans-serif;
$Time-Roman: 'Time-Roman', Arial, sans-serif;
$timesbold_italic: 'timesbold_italic', Arial, sans-serif;
$timesitalic: 'timesitalic', Arial, sans-serif;

$color-1: #3c3000;
$color-2: #d1bfb1;
$color-3: #aa0055;
$color-4: #60523e;
$color-5: #c9baa8;


@mixin transform($transform-x, $transform-y) {
	-webkit-transform: translate($transform-x, $transform-y);
		-ms-transform: translate($transform-x, $transform-y);
		-o-transform: translate($transform-x, $transform-y);
	  		transform: translate($transform-x, $transform-y);
}
//@include transform(-50%, -50%);

@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}
//@include transition(all, 0.3s, ease-in-out);
/* End Variables */
/* General Resets */

body {
	background: url("assets/content/body-bg.jpg") no-repeat top center;
	background-size: cover;
	padding: 60px 0;
}

.container {
	max-width: 1150px;
}

h1 {
	font-weight: 400;
}
h2 {
	font-weight: 400;
}
h3 {
	font-weight: 400;
}
h4 {
	font-weight: 400;
}
h5 {
	font-weight: 400;
}
h6 {
	font-weight: 400;
}

a {
	outline: none;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		outline: none;
		text-decoration: none;
	}
}

.navbar-brand {
	height: auto;
	padding-top: 0;
	padding-bottom: 0;
}
/* End General Resets */

header {
	.navbar-header {
		float: left;
	}
	.navbar-default {
		background-color: transparent;
		border: none;
		margin-bottom: 25px;
		.navbar-collapse {
			float: right;
			margin-top: 20px;
			.nav {
				text-align: center;
				.menu-item {
					background: url("assets/img/menu-bullet.png") no-repeat left center;
					font-family: $trajanbold;
					font-size: 19px;
					line-height: 19px;
					text-transform: uppercase;
					padding: 0 7px;
					a {
						color: $color-1;
						padding: 15px 40px;
					}
					&:first-child {
						background-image: none;
					}
					&.checkout {
						height: 50px;
						a {
							display: inline-block;
							margin-top: 7px;
							text-indent: -9999px;
							text-align: left;
							overflow: hidden;
							width: 100px;
							height: 30px;
							padding: 0;
							background: url("assets/img/checkout.png") no-repeat center center;
						}

					}
				}
			}
		}
	}

}

.container-wrapper {
	background-color: #fff;
	padding: 25px 45px 45px 45px;
	position: relative;
}

.post-type-archive-product {
	.main-content {
		margin-top: -255px;
	}
}

.main-content {
	max-width: 960px;
	background: url("assets/img/middle-area-bg.jpg") no-repeat top center;
	background-size: cover;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px;
	margin-bottom: 20px;
	position: relative;
	z-index: 2000;
	.main-content-wrapper {
		background-color: #fff;
		min-height: 500px;
		padding: 45px;
	}
}
.logo-vinum {
	margin-bottom: 45px;
}
.wine-picture {
	display: block;
	width: 185px;
	height: 185px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 115px;
	padding: 15px;
	position: relative;
	.image {
		display: block;
		width: 161px;
		height: 161px;
		border-radius: 50%;
	}
	&.left {
		.image {
			background: url("assets/content/picture-left.png") no-repeat center center;
			background-size: cover;
		}
		.mask {
			position: absolute;
			display: block;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			z-index: 200;
			background: url("assets/img/wine-mask-left.png") no-repeat center center;
			background-size: cover;
		}
		
	}
	&.right {
		.image {
			background: url("assets/content/picture-right.png") no-repeat center center;
			background-size: cover;
		}
		.mask {
			position: absolute;
			display: block;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			z-index: 200;
			background: url("assets/img/wine-mask-right.png") no-repeat center center;
			background-size: cover;
		}
		
	}
}
.picture-text {
	font-family: $trajanPro-Regular;
	font-size: 19px;
	color: #000;
	text-align: center;
	span {
		display: block;
	}
	&.right {
		background: url("assets/img/alfa.png") no-repeat center center;
	}
}

.main-intro {
	margin-bottom: 45px;
	padding: 105px 45px 0 45px;
	background: url("assets/img/our-story-logo.png") no-repeat top center;
	h3 {
		font-family: $trajanbold;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		span {
			padding: 10px 30px;
			background: url("assets/img/quotes.png") no-repeat top left, url("assets/img/quotes.png") no-repeat bottom right;
		}
	}
}

.intro-content {
	padding: 0 45px;
	h3 {
		font-family: $MinionPro-Bold;
		font-size: 12px;
		line-height: 14px;
		color: #000;
		margin: 0;
		text-transform: none;
	}
	p {
		font-family: $MinionPro-Regular;
		font-size: 12px;
		line-height: 14px;
		color: #000;
		margin-bottom: 15px;
	}
}
.copyright {
	font-family: $trajanPro-Regular;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	color: #000;
	margin: 0;
	text-align: right;
}

.post-type-archive-product {
	.main-content-wrapper {
		background-color: transparent;
	}
}


.filter-grid {
	text-align: center;
	margin-bottom: 45px;
	li {
		text-align: center;
		padding: 0 25px;
		img {
			margin-left: auto;
			margin-right: auto;
		}
		a {
			font-family: $trajanPro-Regular;
			color: #000;
			font-size: 16px;
			line-height: 16px;
		}
		.product-image {
			display: block;
			margin-bottom: 10px;
		}
	}
}

/* Shop Page */

.main-title {
	background: url("assets/img/quotes-right.png") no-repeat top center;
	text-align: center;
	font-family: $MinionPro-SemiboldIt;
	font-size: 43px;
	line-height: 47px;
	color: #000;
	padding-top: 40px;
	margin: 0 0 85px 0;
	span {
		display: block;
		padding-bottom: 40px;
		background: url("assets/img/quotes-left.png") no-repeat  center bottom;
	}
}



.product-box {
	margin-bottom: 45px;
	h3 {
		font-family: $Times-Bold;
		font-size: 22px;
		line-height: 25px;
		color: #000;
		margin: 0 0 5px 0;
		a {
			color: #000;
		}
		span {
			color: $color-3;
		}
	}

	.open-big-image {
		display: block;
		position: relative;
		span {
			display: block;
			position: absolute;
			top: 100%;
			bottom:0;
			left: 0;
			right: 0;
			opacity: 0;
			@include transition(all, 0.3s, ease-in-out);
			.fa {
				position: absolute;
				top: 50%;
				left: 50%;
				color: #fff;
				font-size: 20px;
				line-height: 20px;
				@include transform(-50%, -50%);
			}
		}
		&:hover {
			span {
				top: 0;
				opacity: 1;
			}
		}
	}

	img {
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}

	p {
		font-family: $Time-Roman;
		font-size: 12px;
		line-height: 15px;
		color: #000;
	}
	ul {
		padding-left: 0;
		list-style: none;
		position: relative;
		margin-left: -50px;
		margin-bottom: 0;
		li {
			float: left;
			&.price {
				width: 107px;
				height: 107px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				position: relative;
				.price-wrapper {
					position: absolute;
					left: 50%;
					top: 50%;
					@include transform(-50%, -50%);
				}
					.amount,
					del,
					ins {
						display: block;
						font-family: $timesbold_italic;
						font-size: 48px;
						line-height: 48px;
						text-align: center;
						color: #000;
					}
			}
			&.cart {
				margin-left: 10px;
				del,
				ins,
				.amount {
					display: none;
				}
				.add_to_cart_button {
					background-image: url("assets/img/basket.png");
					background-repeat: no-repeat;
					background-position: center center;
					background-color: transparent;
					display: block;
					height: 107px;
					width: 50px;
					text-indent: -9999px;
					text-align: left;
					overflow: hidden;
				}
				.product {
					position: relative;
					.added_to_cart {
						color: #000;
						position: absolute;
						left: 0;
						bottom: 0;
						text-align: left;
					}
				}
			}
		}
	}
}

.product-meta {
	min-height: 235px;
}

.product-popup {
	position: relative;
	background-color: #fff;
	padding: 20px;
	width: auto;
	max-width: 650px;
	margin: 20px auto;
	padding: 50px;
	.product-img {
		text-align: center;
	}
	.product-box {
		margin-bottom: 0;
		h3 {
			font-size: 45px;
			line-height: 52px;
		}
		p {
			font-size: 24px;
			line-height: 31px;
		}

		ul {
			margin-left: 0;
			li {
				float: none;
				&.price {
					background-image: none !important;
					width: auto;
					height: auto;
					text-align: left;
					margin-bottom: 10px;
					.price-wrapper {
						position: static;
						text-align: left;
						@include transform(0, 0);
						.amount {
							text-align: left;
							font-size: 40px;
							line-height: 45px;
						}
					}
				}
				&.cart {
					margin-left: 0;
					.add_to_cart_button {
						background-image: url("assets/img/add_to_cart_black.png");
						font-family: $timesitalic;
						height: 20px;
						background-position: left top;
						overflow: visible;
						text-indent: 0;
						padding-left: 35px;
						font-size: 30px;
						line-height: 32px;
						color: #000;
						height: 55px;
						padding-left: 60px;
					}
					.added_to_cart {
						position: static;
					}
				}
			}
		}
		.zoom-area {
			display: none;
		}
	}


}

.mfp-bg {
	z-index: 2200;
}

.mfp-wrap {
	z-index: 2300;
}
.mfp-content {
	z-index: 2400;
}

.category-wrapper {
	border-bottom: 3px $color-4 solid;
	margin-bottom: 85px;
}


.post-type-archive-product {
	.main-content-wrapper {
		.category-wrapper {
			&:last-child {
				margin-bottom: 0;
				border: none;
			}
			.col-sm-4 {
				&:nth-last-child(3),
				&:nth-last-child(2),
				&:nth-last-child(1) {
					.product-box {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
/* End Shop Page */
/* Conact Page */

.map-canvas {
	min-height: 400px;
	margin-bottom: 40px;
}

.page-template-contact {
	h3 {
		font-family: $trajanbold;
		margin: 0 0 40px 0;
		text-align: center;
		font-size: 23px;
		line-height: 28px;
	}
	form {
		font-family: $trajanPro-Regular;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		input,
		textarea {
			width: 100%;
			padding: 5px;
			font-size: 16px;
			line-height: 16px;
		}
		input[type="submit"] {
			border: none;
			width: auto;
			text-transform: uppercase;
			color: #fff;
			background-color: $color-5;
		}
	}
}

/* End Contact Page */
/* Awards Page */

.award {
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
	.mask {
		position: absolute;
		left: 0;
		top: 100%;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.3);
		@include transition(all, 0.3s, ease-in-out);
		opacity: 0;
		.fa {
			position: absolute;
			left: 50%;
			top: 50%;
			color: #fff;
			font-size: 20px;
			line-height: 20px;
			@include transition(all, 0.3s, ease-in-out);
		}
	}
	&:hover,
	&:focus,
	&:active {
		.mask {
			top: 0;
			opacity: 1;
		}
	}
}

/* End Awards Page */


@media ( max-width: 1200px ) {
	
	.main-content {
		max-width: 775px;
	}

	.wine-picture {
		width: 161px;
		height: 161px;
		.image {
			width: 137px;
			height: 137px;
		}
	}
}

@media ( max-width: 992px ) {

	.main-content {
		max-width: 570px;
		margin-top: -155px;
	}

	.wine-picture {
		width: 90px;
		height: 90px;
		padding: 7px;
		.image {
			width: 75px;
			height: 75px;
		}
	}

	header {
		.navbar-default {
			.navbar-collapse {
				.nav .menu-item {
					a {
						padding: 15px;
					}
				}
			}
		}
	}
}

@media ( max-width: 767px ) {

	body {
		padding: 15px 0;
	}

	.post-type-archive-product {
		.main-slider {
			display: none;
		}
		.main-content {
			margin-top: 0;
		}
	}

	.navbar-default {
		.navbar-toggle {
			background-color: $color-2;
			border-radius: 0;
			border: none;
			margin-top: 27px;
			.icon-bar {
				background-color: #fff;
			}
			&:hover,
			&:active,
			&:focus {
				background-color: lighten($color-2, 10%);
			}
		}
	}

	.container-wrapper {
		padding: 10px;
		z-index: 2200;
	}
	
	header {
		.navbar {
			position: static;
		}
		.navbar-default {
			.navbar-collapse {
				padding: 0;
				float: none;
				left: 0;
				box-shadow: none;
				border: none;
				position: absolute;
				left: 0;
				top: 85px;
				width: 100%;
				background-color: #fff;
				z-index: 2300;
				.nav {
				    float: none;
				    left: 0;
				    position: relative;
				    text-align: left;
				    margin: 0;
				    .menu-item {
				    	background-image: none;
				    	padding: 0 25px;
				    	a {
				    		font-size: 14px;
				    		line-height: 14px;
				    		padding: 10px 0;
				    		border-bottom: 1px lighten($color-1, 20%) solid;
				    	}
				    	&.checkout {
				    		display: none;
				    	}
				    	&:nth-last-child(2) {
				    		a {
				    			border: none;
				    		}
				    	}
				    }
				}
			}
		}
	}

	.wine-picture {
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		width: 70px;
		height: 70px;
		.image {
			width: 60px;
			height: 60px;
		}
	}

	.main-content {
		margin-top: 20px;
		.main-content-wrapper {
			padding: 15px;
		}
	}

	.picture-text {
		font-size: 12px;
		line-height: 16px;
	}

	.main-intro {
		background-size: 100px auto;
		padding: 40px 0 0 0;
		h3 {
			font-size: 12px;
			line-height: 18px;
			span {
				background-size: 18px auto;
			}
		}
	}

	.intro-content {
		padding: 0;
	}

	.navbar-header {
		width: 100%;
		position: relative;
		.cart {
			margin-top: 17px;
			display: block;
			width: 31px;
			height: 29px;
			background: url("assets/img/checkout.png") no-repeat center center;
			position: absolute;
			right: 75px;
			top: 10px;
		}
	}

	.filter-grid {
		li {
			margin-bottom: 10px;
			padding: 0 5px;
		}
	}

	.main-title {
		font-size: 30px;
		line-height: 34px;
		margin-bottom: 45px;
	}

	.product-box {
		ul {
			li {
				&.price {
					width: 60px;
					height: 60px;
					.amount {
						font-size: 30px;
						line-height: 30px;
					}
				}
				&.cart {
					.add_to_cart_button {
						height: 60px;
					}
					.product {
						.added_to_cart {
							bottom: -15px;
						}
					}
				}
			}
		}
	}

	.product-popup {
	    padding: 20px;
	    position: relative;
    	.product-box {
		    h3 {
		    	font-size: 23px;
		    	line-height: 30px;
		    }
		    p {
		    	font-size: 16px;
		    	line-height: 23px;
		    }
		    ul {
		    	li {
		    		&.price {
		    			.price-wrapper {
		    				.amount {
		    					font-size: 30px;
		    					line-height: 35px;
		    				}
		    			}
		    		}
		    		&.cart {
		    			.add_to_cart_button {
		    				background-size: 25px auto;
		    				background-position: bottom left;
		    				font-size: 18px;
		    				line-height: 20px;
		    				height: 30px;
		    				padding-left: 35px;
		    			}
		    		}
		    	}
		    }
		}
	}

	.map-canvas {
		min-height: 200px;
	}

	.woocommerce table.shop_table_responsive tr td::before, 
	.woocommerce-page table.shop_table_responsive tr td::before {
		text-align: left;
	}

	.category-wrapper {
		padding-bottom: 35px;
		margin-bottom: 35px;
	}

	.product-meta {
		min-height: 0;
	}

	.post-type-archive-product {
		.main-content-wrapper {
			.category-wrapper {
				.col-sm-4 {
					&:nth-last-child(3),
					&:nth-last-child(2),
					&:nth-last-child(1) {
						.product-box {
							margin-bottom: 45px;
						}
					}
				}
			}
		}
	}
}